
<h1>Instructions Page</h1>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Instruction Page</title>
    <style>
        .container {
            width:90%;
            margin:auto;
        }
        .instruction-section1 {
            width: 100%;
            border: 10px solid rgb(12, 14, 12);
            padding: 40px;
            margin: 0px;
        }

        .instruction-section2 {
            width: 100%;
            border: 10px solid rgb(89, 114, 89);
            padding: 40px;
            margin: 0px;
        }


        .hello2 {
            font-size: 30px;
            /* padding-left: 0px; */
        }

        .hello1 {
            font-size: 50px;
            text-align: center;
        }

        .hello3 {
            padding: 30px;
            margin: auto;
            font-size: 70px;
        }

        .b1 {
            font-size: 25px;
            margin: 20px;
            color: white;
            background-color: purple;
            border-radius: 12px;
        }

            .b1:hover {
                background-color: #10e060;
                text-decoration: none;
            }

        .b2 {
            font-size: 25px;
            color: white;
            background-color: purple;
            border-radius: 12px;
        }

            .b2:hover {
                background-color: #10e060;
                text-decoration: none;
            }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <h1 class="hello1">Instructions</h1>
        </header>
        <main>
            <section class="instruction-section1">
                <ol class="hello2">
                    <li>
                        Use a desktop or laptop computer for the best experience. Mobile devices and tablets are not
                        recommended.
                    </li>
                    <li>Ensure a stable internet connection throughout the exam to prevent any disruptions. </li>
                    <li>Use a modern web browser (e.g., Google Chrome, Mozilla Firefox) with JavaScript enabled.</li>
                    <li>
                        Log in using the provided username and password. Do not share your login credentials with
                        anyone.
                    </li>
                    <li>
                        Once logged in, you will have access to the exam questions. The timer will start when you begin
                        the exam.
                    </li>
                    <li>You have [60] minutes to complete the exam.</li>
                    <li>
                        The timer is displayed at the top of the exam interface. The exam will automatically submit when
                        the time limit is reached.
                    </li>
                    <li>
                        The exam consists of multiple-choice questions. Navigate through questions using the "Next" and
                        "Previous" buttons.
                    </li>
                    <li>You can skip questions and return to them later if time permits.</li>
                    <li>
                        For each question, select the best answer choice. Only one answer is correct for each question.
                    </li>
                    <li>To submit your answer, click on the checkbox button next to your chosen answer.</li>
                    <li>Your selected answer will be automatically saved.</li>
                    <li>You can review your answers before submitting the exam.</li>
                    <li>
                        To change an answer, simply select a different answer choice. Only the last selected answer will
                        be considered.
                    </li>
                    <li>Ensure you have attempted all the questions within the specified time limit.</li>
                    <li>
                        When the exam timer reaches zero, the exam will be automatically submitted. You will not be able
                        to make any changes after submission.
                    </li>
                    <li>This is an individual exam. Do not collaborate or seek help from others during the exam.</li>
                    <li>Plagiarism or cheating in any form will result in disqualification and further action.</li>
                    <li>
                        If you encounter technical issues during the exam, use the provided support contact to seek
                        assistance.
                    </li>
                    <li>Refresh the page if you experience any display issues.</li>
                    <li>Clear your browser's cache and cookies before starting the exam for optimal performance.</li>
                    <li>It's advisable to take the exam in a quiet and distraction-free environment.</li>
                </ol>
            </section>



            <input type="checkbox" name="group_name" id="option1" value="option1_value">
            <button type="button" class="b1">Accept termas and condition</button>


            <input type="checkbox" name="group_name" id="option2" value="option2_value">
            <a href="test" class="b2">Start the exam</a>
    </div>

    
</body>

</html>

